rails/.DS_Store
rails/log/*
rails/tmp/*
rails/TAGS
rails/*~
rails/.#*
rails/schema/schema.rb
rails/schema/*_structure.sql
rails/schema/*.sqlite3
rails/schema/*.sqlite
rails/schema/*.db
rails/*.sqlite
rails/*.sqlite3
rails/*.db
rails/.hgignore
rails/.hg/*
rails/.svn/*
rails/vendor/gems/*

merb/.DS_Store
merb/log/*
merb/tmp/*
merb/TAGS
merb/*~
merb/.#*
merb/schema/schema.rb
merb/schema/*_structure.sql
merb/schema/*.sqlite3
merb/schema/*.sqlite
merb/schema/*.db
merb/*.sqlite
merb/*.sqlite3
merb/*.db
merb/src/*
merb/.hgignore
merb/.hg/*
merb/.svn/*
merb/gems/gems/*
merb/gems/specifications/*
merb/merb_profile_results