merb/.DS_Store
merb/log/*
merb/tmp/*
merb/TAGS
merb/*~
merb/.#*
merb/schema/schema.rb
merb/schema/*_structure.sql
merb/schema/*.sqlite3
merb/schema/*.sqlite
merb/schema/*.db
merb/*.sqlite
merb/*.sqlite3
merb/*.db
merb/src/*
merb/.hgignore
merb/.hg/*
merb/.svn/*
merb/gems/gems/*
merb/gems/specifications/*
merb/merb_profile_results