<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>OpenID Consumer example</title>
  </head>
  <body>
    <p class="error"><%= flash[:error] if flash[:error] %></p>
    <%= yield %>
  </body>
</html>