<%= error_messages_for session.authentication %>
<%= form :action => '' do %>
  <h1>Login with OpenID</h1>
  <p>
    <%= text_field :openid_url, :label => 'OpenID: ' %>
  </p>
  <%= submit "Go!" %>
<% end =%>