<form method="post">
    <h1>Login with OpenID</h1>
    <p>
    <label for="openid_url">OpenID:</label>
    <input type="text" name="openid_url" id="openid_url">
    </p>
    <input type="submit" value="Go!">
</form>